// @import url("https://fonts.googleapis.com/css?family=Work+Sans");

$colors: (
  main: rgb(21, 20, 20),
  accent: #d3d3d3,
  btn-text: #ffffff
);

@function colors($color) {
  @return map-get($colors, $color);
}
